.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  border: none; }

.btn--animated {
  animation: moveBottom .3s ease-out .75s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199); }
  .btn:hover::after {
    transform: scale(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 0.35rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  transform: translateY(3px);
  box-shadow: 0 0.15 1rem rgba(0, 0, 0, 0.15); }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  height: 100%;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    /* animatiteration-count:  */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-tetiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  display: inline-block;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-middle {
  margin-bottom: 3rem !important; }

.smaller-size {
  font-size: 3rem !important; }

.row {
  max-width: 100rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    display: table;
    content: "";
    clear: both; }
  .row [class^="column-"] {
    float: left; }
    .row [class^="column-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .column-1-2 {
    width: calc((100% - 6rem)/2); }
  .row .column-1-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .column-1-4 {
    width: calc((100% - 3*6rem)/4); }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center; }

.navigation__background {
  background-image: radial-gradient(#7ed56f, #28b485);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1); }

.navigation__nav {
  height: 100vh;
  width: 0;
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  color: white;
  margin: 1rem;
  border-radius: 50px; }

.navigation__box {
  display: none; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  padding: 1rem 1.5rem;
  background-size: 240%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a; }

.navigation__box:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__box:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #333;
    transition: all .2s; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: .8rem; }
  .navigation__icon::before {
    top: -.8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__box:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__box:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0; }

.navigation__box:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0; }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  .footer__link {
    display: inline-block;
    transition: all .2s; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase; }
    .footer__link:hover, .footer__link:active {
      transform: rotate(5deg) scale(1.3);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.671);
      color: #55c57a; }
  .footer__item {
    list-style: none;
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__nav {
    border-top: 1px solid #777; }
  .footer__logo {
    height: 15rem;
    display: inline;
    width: auto; }
  .footer__logo-box {
    text-align: center; }

.section-about {
  padding: 25rem 0;
  background-color: #f7f7f7;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../images/img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  margin-top: -10rem;
  text-align: center;
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0; }

.section-stories {
  position: relative; }

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 50%, transparent 50%), url(../images/img/nat-10.jpg);
  background-size: cover;
  height: 45rem;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.801);
  border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 6rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.404);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 20px; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      z-index: 20;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.504);
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 3px;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 2rem black;
  padding: 2.5rem;
  height: 35rem;
  transition: all .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-color: #55c57a;
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-10px);
    transform: scale(1.03); }

.tours {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 45rem; }
  .tours__popular {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.466);
    width: 100%; }
    .tours__popular--back {
      transform: rotateY(180deg); }
      .tours__popular--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff9730); }
      .tours__popular--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .tours__popular--back-3 {
        background-image: linear-gradient(to right bottom, #7272d3, blue); }
  .tours:hover .tours__popular--front {
    transform: rotateY(-180deg); }
  .tours:hover .tours__popular--back {
    transform: rotateY(0deg); }
  .tours__image {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
    .tours__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff9730), url(../images/img/nat-5.jpg); }
    .tours__image--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/img/nat-6.jpg); }
    .tours__image--3 {
      background-image: linear-gradient(to right bottom, #7272d3, blue), url(../images/img/nat-7.jpg); }
  .tours__heading {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    text-align: right;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-weight: 400;
    width: 70%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .tours__heading--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff9730); }
    .tours__heading--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .tours__heading--3 {
      background-image: linear-gradient(to right bottom, #7272d3, blue); }
  .tours__detail ul {
    list-style: none; }
    .tours__detail ul li {
      padding: 1rem;
      width: 65%;
      margin: 0 auto; }
      .tours__detail ul li:not(:last-child) {
        border-bottom: 1px solid rgba(226, 222, 222, 0.788); }
  .tours__back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 90%; }
    .tours__back-only {
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 400; }
    .tours__back-price {
      font-size: 5rem;
      font-weight: 30; }

.story {
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.6);
  width: 75%;
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.815); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    background-color: red;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-5rem) skewX(12deg); }
    .story__shape-image {
      height: 100%;
      transform: translateX(-4rem) scale(1.4); }
    .story__shape-text {
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 55%;
      opacity: 0;
      transform: translate(-50%, 20%);
      color: white;
      transition: all .5s; }
  .story:hover .story__shape-text {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__shape-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(70%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  opacity: 15%; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form {
  margin: 0 auto; }
  .form h2 {
    font-size: 3rem;
    margin-bottom: 4rem; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    width: 70%;
    border-bottom: 3px solid transparent;
    display: block;
    padding: 1rem;
    font-family: inherit;
    color: inherit;
    transition: all .2s;
    border-radius: 4px; }
    .form__input::-webkit-input-placeholder {
      color: rgba(226, 222, 222, 0.788); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff9730; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.233);
      border-bottom: 3px solid #55c57a; }
  .form__label {
    transition: all .2s;
    margin-top: .7rem;
    display: inline-block; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__group-radio {
    padding-left: 2rem; }
  .form__group-label {
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
    color: inherit; }
  .form__group-radio-button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid #55c57a;
    display: inline-block;
    position: absolute;
    top: -0.8rem;
    left: -1rem; }
    .form__group-radio-button::after {
      content: "";
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      display: block;
      background-color: #55c57a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .2s; }
  .form__width {
    width: 45%;
    display: inline-block; }
  .form__group-radio:checked ~ .form__group-label .form__group-radio-button::after {
    opacity: 1; }
  .form__group-radio {
    display: none; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    position: absolute;
    top: 1rem;
    right: 1rem; }
    .popup__close-x:visited, .popup__close-x:link {
      font-size: 3rem;
      text-decoration: none;
      color: #333;
      line-height: 1;
      transition: all .2s; }
    .popup__close-x:hover {
      color: #55c57a; }
  .popup__content {
    background-color: #fff;
    width: 75%;
    box-shadow: 1rem 2rem 4rem black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup__leftside {
    width: 33.33333%;
    display: table-cell; }
  .popup__rightside {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 3rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #333;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
