.u-center-text{
    text-align: center !important;
}

.u-margin-bottom-big{
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-middle{
    margin-bottom: 3rem !important;
}

.smaller-size{
    font-size: 3rem !important;
}